<!DOCTYPE html>
<html>
    <head>
        <!-- {% static 'app/css/main.css' %} -->
        <link href="C:\Users\Консерва\Desktop\mysite\app\static\app\css\main.css" rel="stylesheet" type="text/css"/>
        <title>Title</title>
    </head>
    <body>
        <div class="conteiner">
            <!-- Header -->
            <div class="header">
                <div class="logo">
                    <img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\logotype.png"/>
                </div>
                <div class="horizontal_menu">
                    <ul>
                        <li><a href="">Каталог</a></li>
                        <li><a href="">Для мужчин</a></li>
                        <li><a href="">Для женщин</a></li>
                        <li><a href="">Новинки</a></li>
                        <li><a href="">Распродажа</a></li>
                    </ul>
                </div> 
               <div class="search"> 
                    <form action="">
                        <input id="get-search" type="text" name="search">
                        <input type="submit" value="save">
                    </form>
                </div> 
               <dic class="icon">
                    <ul>
                        <li><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\heart.png"></a></li>
                        <li><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\cart.png"></a></li>
                        <li><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\user.png"></a></li>
                    </ul> 
                </div>
            <!-- Header END -->
            <!--Body-->
            <div class="conteiner_body"></div>
            <!--Body END-->
            <!--Footer-->
            <div class="footer">
                <div class="upfooter">
                    <div class="pocket_store">
                        <img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\logotypefooter.png"/><br><br>
                        <p>2010-2020 © Pocketstore.ru Все права защищены.</p>
                        <ul>
                            <li><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\instagram.png" alt="Instagram"></a></li>
                            <li><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\facebook.png" alt="Facebook"></a></li>
                            <li><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\twitter.png" alt="Twitter"></a></li>
                        </ul>
                    </div>
                    <div class="about">
                        <h4>О компании</h4>
                        <p><a href="">О нас</a></p>
                        <p><a href="">Вакансии</a></p>
                        <p><a href="">Контакты для прессы</a></p>
                        <p><a href="">Реквизиты</a></p>
                        <p><a href="">Офисы</a></p>
                    </div>
                    <div class="customers">
                        <h4>Покупателям</h4>
                        <p><a href="">Как сделать заказ</a></p>
                        <p><a href="">Доставка</a></p>
                        <p><a href="">Возврат</a></p>
                        <p><a href="">Вопросы и ответы</a></p>
                        <p><a href="">Безопасность</a></p>
                    </div>
                    <div class="payment">
                        <h4>Способы оплаты</h4>
                        <ul>
                            <li><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\paypal.png" alt="paypal"></li>
                            <li><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\sberbank.png" alt="sberbank"></li>
                            <li><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\tinkoff.png" alt="tinkoff"></li>
                            <li><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\visa-mastercard.png" alt="visa-mastercard"></li>
                        </ul><br>
                        <p>Вы можете оплатить покупки наличными при получении, либо выбрать <ins><a href="">другой способ оплаты.</a></ins></p>
                    </div>
                    <div class="mobile">
                        <h4>Для мобильных устройств</h4>
                        <p><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\GooglePlay.png" alt="googlepay"></a></p>
                        <p><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\AppStore.png" alt="appstore"></a></p>
                        <p><a href=""><img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\WindowsStore.png" alt="windowsphone"></a></p>
                    </div>
                </div>
                <div class="bottomfooter">
                    <div class="counrty">
                        <img src="C:\Users\Консерва\Desktop\mysite\app\static\app\img\templates\flag.png" alt="counrty">
                        Россия - <ins><a href="">сменить страну</a></ins>
                    </div>
                    <div class="cookes">
                        Правила и условия | Конфиденциальность и cookie-файлы
                    </div>
                </div>
            </div>
            <!--Footer END-->
                </div>
                
            </div>
        </div>
    </body>
</html>