/*Main*/
html,body{
    background-color: #E5E5E5;
    margin: 0;
    height: 100%;
    font-family:Open Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #212121;

}
ul{
    padding-inline-start: 0px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #0E091B;
}
a:hover{
    color: #4b4b4b;
}
.conteiner{
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;    

}
.header{
    width: 100%;
    display: flex;
    height: 80px;
    background: #F7F7F7;
    margin: 0;
}
.conteiner_body{
    width: 100%;
    height: 500px;
    background: #bb3e3e;
    margin: 80px auto;
    display: flex;
    flex: 1 0 auto;

}
.footer{
    width: 100%;
    height: 338px;
    background: #FDFDFD;
    flex: 0 0 auto;
}

/* Header */
.logo{
    padding: 25px 0 25px 103px;
    width: 30px;
    height: 30px;
    margin: 0;
}
.horizontal_menu{
    padding: 30px 0 30px 100px;
}
.horizontal_menu li{
    display: inline;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    line-height: 20px;
    padding-left: 5px;
}
.horizontal_menu li a{
    text-decoration: none;
    color: #0E091B;
}
.horizontal_menu li a:hover{
    text-decoration: underline;
    color:#4b4b4b;
}

.icon{
    padding: 30px 0 30px 80px;
    margin: 0;
}
.icon li {
    display: inline;
    padding-left: 25px;
}
.search {
    margin: 0;
    padding: 30px 0 30px 80px;
}
/*Container Body*/

/*Footer*/
.upfooter{
    width: 100%;
    height: 292px;
    display: flex;

}
.upfooter p,h4{
    margin-top: 0;
}
.upfooter a{
    text-decoration: none;
    color: #0E091B;
}
.upfooter a:hover{
    color:#4b4b4b;
}
.bottomfooter{
    width: 100%;
    height: 46px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    display: flex;

}

.pocket_store{
    width: 157px;
    height: 141;
    padding: 50px 0 0 104px;
}
.pocket_store ul li {
    display: inline;
    padding-right: 5px;
    padding-left: 0;
}
.about{
    width: 166px;
    height: 192px;
    padding: 50px 0 0 70px;
}
.customers{
    width: 143px;
    height: 192px;
    padding: 50px 0 0 70px;
}
.payment{
    width: 198px;
    height: 137px;
    padding: 50px 0 0 70px;
}
.payment ul li{
    display: inline;
    padding-right: 5px;
    padding-left: 0;
}
.mobile{
    width: 215px;
    height: 177px;
    padding: 50px 0 0 70px;

}
.counrty{
    width: 400px;
    padding: 16px 0 0 103px;
}
.cookes{
    width: 400px;
    padding: 16px 0 0 350px;
}
